<%= turbo_stream.replace "search-results" do %>
 <turbo-frame id="search-results">
     <h3 class='text-center font-bold text-lg text-orange-600'>Search Suggestions</h3>
  <%= render partial: 'articles/results', locals: { results: @results , no_search_query:@no_search_query} %>
    </turbo-frame>
<% end %>

<%= turbo_stream.replace "search-form" do %>
<turbo-frame id="search-form" class="flex items-center">
  <%= form_with url: search_articles_path, method: :get, data: { turbo_stream: true, controller: "search-box", action: "submit->search-box#submit", search_box_target: "form" }, class: "flex-1 flex flex-col space-y-4" do |form| %>
    <div class="flex">
      <%= form.text_field :query, value: params[:query], placeholder: "Enter Search Query", id: "search-box", data: { action: "input->search-box#search", search_box_target: "input" }, class: "border-2 border-gray-300 p-2 rounded flex-1 mr-2" %>

      <%= form.hidden_field :source, id: "query-source", value: "form" %>
      
      <%= form.submit "Search", class: "bg-blue-500 text-white font-semibold p-2 rounded hover:bg-blue-600" %>
    </div>
  <% end %>
</turbo-frame>


<% end %>
