<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Articles" %>

<h1>Search For Articles</h1>

<turbo-frame id="search-form">
<%= form_with url: search_articles_path, method: :get, data: { turbo_stream: true,controller: "search-box",action: "submit->search-box#submit", search_box_target: "form" } do |form| %>
  <%= form.label :query, "Search Articles" %>

  <%= form.text_field  :query, value: params[:query], placeholder: "Enter Search Query", id: "search-box", data:{action:"input->search-box#search",search_box_target: "input" } %>

  <%= form.hidden_field :source, id: "query-source", value: "form" %>
  <%= form.submit "Search" %>
<% end %>
</turbo-frame>

<turbo-frame id="search-results">
 

</turbo-frame>





</div>
